# Sugarchain Configuration
rpc_user = ''
rpc_password =''
ip = ''
rpc_port = ''
confirm = 6
fee = 0.001 # withdraw Fee

# Bot Configuration
currency = "Sugar"
version = "1.0.1"
token = ''
owner_id =
prefix = '//'
default_color = 0x000000
status = ''
donation_wallet = "tipsugar_wallet"
faucet = 0.01 #claim per faucet
faucet_time = 3600 #time between claim (in seconds)
faucet_wallet = "tipsugar_wallet"
withdraw_wallet = "tipsugar_wallet"

guilds = []
